<h1 class="px-1">Laboratoire 2</h1>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="basket">Panier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="connection">Connexion</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
